In [4]:
import pandas as pd

In [5]:
selloutData =\
    pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [6]:
selloutData

       REGIONID    PRODUCT  YEARWEEK      QTY
0           A60   PRODUCT4    201402     71.0
1           A60  PRODUCT59    201402  22275.0
2           A60  PRODUCT34    201402   4463.0
3           A60  PRODUCT47    201402      0.0
4           A60  PRODUCT56    201402     23.0
...         ...        ...       ...      ...
124653      A10  PRODUCT60    201630    824.0
124654      A10  PRODUCT56    201630    275.0
124655      A10  PRODUCT61    201630      0.0
124656      A10  PRODUCT12    201630  15021.0
124657      A10   PRODUCT1    201630    568.0

[124658 rows x 4 columns]

In [7]:
selloutData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124658 entries, 0 to 124657
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REGIONID  124658 non-null  object
 1   PRODUCT   124658 non-null  object
 2   YEARWEEK  124658 non-null  int64
 3   QTY       124658 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.8+ MB

In [8]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [9]:
selloutData.QTY = selloutData.QTY.astype(float)

In [10]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
dtype: object

In [11]:
selloutData = selloutData.astype({"REGIONID":str, "PRODUCT":str,"YEARWEEK":str})

In [12]:
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK     object
QTY         float64
dtype: object

In [13]:
selloutData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124658 entries, 0 to 124657
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   REGIONID  124658 non-null  object
 1   PRODUCT   124658 non-null  object
 2   YEARWEEK  124658 non-null  object
 3   QTY       124658 non-null  float64
dtypes: float64(1), object(3)
memory usage: 3.8+ MB

In [14]:
selloutData.loc[selloutData.QTY <0]

       REGIONID    PRODUCT YEARWEEK   QTY
65          A02  PRODUCT16   201403  -1.0
338         A08  PRODUCT36   201402  -1.0
1270        A14  PRODUCT36   201405  -1.0
1616        A17  PRODUCT60   201402  -1.0
2035        A39   PRODUCT7   201404 -12.0
...         ...        ...      ...   ...
123677      A39  PRODUCT25   201628  -1.0
123957      A39  PRODUCT50   201627  -1.0
123970      A39  PRODUCT25   201627  -1.0
124148      A13   PRODUCT5   201648  -6.0
124532      A32  PRODUCT14   201627  -2.0

[323 rows x 4 columns]

In [15]:
import numpy as np

In [23]:
selloutData

       REGIONID    PRODUCT YEARWEEK      QTY
0           A60   PRODUCT4   201402     71.0
1           A60  PRODUCT59   201402  22275.0
2           A60  PRODUCT34   201402   4463.0
3           A60  PRODUCT47   201402      0.0
4           A60  PRODUCT56   201402     23.0
...         ...        ...      ...      ...
124653      A10  PRODUCT60   201630    824.0
124654      A10  PRODUCT56   201630    275.0
124655      A10  PRODUCT61   201630      0.0
124656      A10  PRODUCT12   201630  15021.0
124657      A10   PRODUCT1   201630    568.0

[124658 rows x 4 columns]

In [27]:
selloutData["QTY_NEW"] =\
    np.where(selloutData.QTY < 0,
        0, 
        selloutData.QTY)

In [28]:
selloutData

       REGIONID    PRODUCT YEARWEEK      QTY  QTY_NEW
0           A60   PRODUCT4   201402     71.0     71.0
1           A60  PRODUCT59   201402  22275.0  22275.0
2           A60  PRODUCT34   201402   4463.0   4463.0
3           A60  PRODUCT47   201402      0.0      0.0
4           A60  PRODUCT56   201402     23.0     23.0
...         ...        ...      ...      ...      ...
124653      A10  PRODUCT60   201630    824.0    824.0
124654      A10  PRODUCT56   201630    275.0    275.0
124655      A10  PRODUCT61   201630      0.0      0.0
124656      A10  PRODUCT12   201630  15021.0  15021.0
124657      A10   PRODUCT1   201630    568.0    568.0

[124658 rows x 5 columns]

In [30]:
selloutData.loc[(selloutData.QTY<0) &
               (selloutData.QTY_NEW !=0)].count()

REGIONID    0
PRODUCT     0
YEARWEEK    0
QTY         0
QTY_NEW     0
dtype: int64